<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cool Cars Community</title>
<link href="../style/styles.css" rel="stylesheet" type="text/css" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("../header"); 
  $("#footer").load("../footer"); 
});
</script>

</head>
<body>

	<div id="header"></div>

	<div class="container">

		<div class="fullWidthContent">

			<div class="contentContainer">

				<div class="aboveFaceHolder">
					<div class="sectionTitleHolder">
						<h1>All Cars</h1>
					</div>
				</div>
				<div class="filterContainer">
					<div class="filterTitle">
						<h2>Show cars</h2>
					</div>
					<div class="filterOptionslist">
						<div class="filterOption">
							<p>All</p>
						</div>
						<div class="filterOption">
							<p>Race</p>
						</div>
						<div class="filterOption">
							<p>Off-Road</p>
						</div>
						<div class="filterOption">
							<p>City</p>
						</div>
						<div class="filterOption">
							<p>Pimp</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

			</div>
			<!-- end of contentContainer -->

		</div>
		<!-- end of fullWidthContainer -->

		<div class="carImageList"
			th:each="car  : ${@carHandlingService.getAllCars()}">
			<div class="carImage">
				<a th:href="'../carprofile/'+${car.getCarName()}"> 
					<img th:src="'../'+${car.getCarImage()}" width="200px" height="113" />
				</a>
			</div>

		</div>
		<div class="clearfix"></div>

	</div>
	<!-- end of container -->
	<div class="clearfix"></div>
	<div id="footer"></div>

</body>
</html>
