<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cool Cars Community</title>
<link href="http://localhost:8080/style/styles.css" rel="stylesheet" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("../header"); 
  $("#footer").load("../footer"); 
});
</script>

</head>
<body>

	<div id="header"></div>

	<div class="container">

		<div id="gallery">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
					<li data-target="#myCarousel" data-slide-to="5"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">

					<div class="item active">
						<div class="galleryPic">
								<img
								src="../carImages/top5.jpg"
								alt="Broken Image" width="640" height="360" />
						</div>
					</div>
					<div class="item"
						th:each="car : ${@carHandlingService.getTopFiveCars()}">
						<div class="galleryPic">
							<a th:href="'../carprofile/'+${car.getCarName()}">
							 <img th:src="'../'+${car.getCarImage()}" alt="Broken Image" width="640" height="360" />
							</a>
						</div>
						<div class="galleryDesc">
							<div class="galleryHeaderText" th:text="${car.getCarName()}">...</div>
							<div class="galleryText">
								<p>
									<i th:text="${car.getCarDescription()}"></i>
								</p>
								<br></br>
								<ul>
									<li>
										<div class="tablerow">
											<p>Type:</p>
											<p th:text="${car.getCarType()}">...</p>
										</div>
									</li>
									<li>
										<div class="tablerow">
											<p>Brand:</p>
											<p th:text="${car.getCarBrand()}">...</p>
										</div>
									</li>
									<li>
										<div class="tablerow">
											<p>Color:</p>
											<p th:text="${car.getCarColor()}">...</p>
										</div>
									</li>
									<li>
										<div class="tablerow">
											<p>Owner:</p>
											<p th:text="${car.getMember().getMemberName()}"></p>
										</div>
									</li>
									<li>
										<div class="tablerow">
											<p>Score:</p>
											<p th:text="${car.getCarRating()}">...</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--  end of item -->

				</div>
				<!--  end of carousel-inner -->

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#myCarousel" role="button"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<!--  end gallery -->

		<div class="mainHolder">
			<div class="aboutContainer">
				<h1>Welcome to Cool Cars Community!</h1>
				<p>
					<b> This is where we floskel for you and convince you to join
						us if you're not already a member at our great site! </b>
				</p>
				<br></br>
				<p class="linespacing">But I must explain to you how all this
					mistaken idea of denouncing pleasure and praising pain was born and
					I will give you a complete account of the system, and expound the
					actual teachings of the great explorer of the truth, the
					master-builder of human happiness. No one rejects, dislikes, or
					avoids pleasure itself, because it is pleasure, but because those
					who do not know how to pursue pleasure rationally encounter
					consequences that are extremely painful.</p>
				<br></br>
				<div>
					<form action="/public/login">
						<input type="submit" value="Click to login / become a member!"
							class="buttonHeader"></input>
					</form>
				</div>
			</div>
			<!-- end aboutContainer -->
			<div class="newsContainer">
				<h1>News</h1>
				<article class="newspost linespacing">
					<header>
						<h3>Far far away</h3>
					</header>
					<p>Far far away, behind the word mountains, far from the
						countries Vokalia and Consonantia, there live the blind texts.
						Separated they live in Bookmarksgrove right at the coast of the
						Semantics, a large language ocean. A small river named Duden flows
						by their place and supplies it with the necessary regelialia. It
						is a paradisematic country, in which roasted parts of sentences
						fly into your mouth.</p>
					<br></br>
					<footer>
						<p>
							Posted by: <a href="/public/memberprofile">Anonymous</a>, 2015-09-07
							66:66
						</p>
					</footer>
				</article>
				<br></br> <br></br>
				<article class="newspost linespacing">
					<header>
						<h3>A wonderful serenity</h3>
					</header>
					<p>A wonderful serenity has taken possession of my entire soul,
						like these sweet mornings of spring which I enjoy with my whole
						heart. I am alone, and feel the charm of existence in this spot,
						which was created for the bliss of souls like mine. I am so happy,
						my dear friend, so absorbed in the exquisite sense of mere
						tranquil existence, that I neglect my talents.</p>
					<br></br>
					<footer>
						<p>
							Posted by: <a href="/public/memberprofile">Anonymous</a>, 2015-09-07
							66:66
						</p>
					</footer>
				</article>
				<br></br> <br></br>
				<article class="newspost linespacing">
					<header>
						<h3>One morning</h3>
					</header>
					<p>One morning, when Gregor Samsa woke from troubled dreams, he
						found himself transformed in his bed into a horrible vermin. He
						lay on his armour-like back, and if he lifted his head a little he
						could see his brown belly, slightly domed and divided by arches
						into stiff sections. The bedding was hardly able to cover it and
						seemed ready to slide off any moment. His many legs, pitifully
						thin compared with the size of the rest of him, waved about
						helplessly as he looked. "What's happened to me?" he thought.</p>
					<br></br>
					<footer>
						<p>
							Posted by: <a href="/public/memberprofile">Anonymous</a>, 2015-09-07
							66:66
						</p>
					</footer>
				</article>
				<br></br> <br></br>
			</div>
			<!-- end newsContainer -->
			<div class="newCarList"
				th:each="car : ${@carHandlingService.getNewCars()}">
				<div class="newCarContainer">
					<div class="newCarHeader">
						<div class="newCarTitle">
							<h3>New Car</h3>
						</div>
						<div class="newCarName" th:text="${car.getCarName()}"></div>
					</div>
					<div class="newCarContent">
						<div class="carImage">
							<a th:href="'../carprofile/'+${car.getCarName()}">
							 <img th:src="'../'+${car.getCarImage()}" alt="Broken Image" width="298" height="168" />
							</a>
						</div>
						<div class="newCarDescription">
							<p>
								<i th:text="${car.getCarDescription()}"></i>
							</p>
							<br></br>
							<ul>
								<li>
									<div class="tablerowNewCar">
										<p>Type:</p>
										<p th:text="${car.getCarType()}">...</p>
									</div>
								</li>
								<li>
									<div class="tablerowNewCar">
										<p>Brand:</p>
										<p th:text="${car.getCarBrand()}">...</p>
									</div>
								</li>
								<li>
									<div class="tablerowNewCar">
										<p>Color:</p>
										<p th:text="${car.getCarColor()}">...</p>
									</div>
								</li>
								<li>
									<div class="tablerowNewCar">
										<p>Score:</p>
										<p th:text="${car.getCarRating()}">...</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="newCarUploader">
						<p>
							Uploaded by: <a href="/public/memberprofile" th:text="${car.getMember().getMemberName()}"></a>,
							<span th:text="${car.getCreateDate()}">..</span>
						</p>
					</div>
				</div>
			</div>
			<!-- end newCarList -->
			<div class="clearfix"></div>
		</div>
		<!-- end #mainHolder -->
		<div class="clearfix"></div>
	</div>
	<!-- end container -->

	<div id="footer"></div>

</body>
</html>
