<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Test page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div
		th:text="'getTopFiveCars() som använder jdbc funkar: ' + ${@carHandlingService.getTopFiveCars()[0].getCarName()}">...</div>
	<div
		th:text="'getAllCars() som använder jpa funkar: ' + ${@carHandlingService.getAllCars()[0].getCarName()}">...</div>

	<div>
		<h1>th:each med JPA och table funkar</h1>
		<table>
			<tr>
				<th>barp</th>
				<th>urp</th>
				<th>arp</th>
				<th>Schweiz</th>
			</tr>
			<tr th:each="car  : ${@carHandlingService.getAllCars()}">
				<td th:text="${car.getCarName()}"></td>
				<td th:text="${car.getCarBrand()}"></td>
				<td th:text="${car.getCarType()}"></td>
				<td th:text="${car.getCarColor()}"></td>
			</tr>
		</table>
	</div>


	<div>
		<h1>th:each med jdbc och table funkar</h1>
		<table>
			<tr>
				<th>barp</th>
				<th>urp</th>
				<th>arp</th>
				<th>Schweiz</th>
			</tr>
			<tr th:each="car  : ${@carHandlingService.getTopFiveCars()}">
				<td th:text="${car.getCarName()}"></td>
				<td th:text="${car.getCarBrand()}"></td>
				<td th:text="${car.getCarType()}"></td>
				<td th:text="${car.getCarColor()}"></td>
			</tr>
		</table>
	</div>


	<div>
		<h1>th:each med jdbc och div funkar</h1>

		<div th:each="currentCar  : ${@carHandlingService.getTopFiveCars()}">
			<img th:src="${currentCar.getCarImage()}" height="100px"
				width="200px" />
			<p th:text="${currentCar.getCarName()}" />
			<p th:text="${currentCar.getCarBrand()}" />
			<p th:text="${currentCar.getCarType()}" />
			<p th:text="${currentCar.getCarColor()}" />
		</div>
	</div>
 
 	<div>
		<h1>få fram bilars medlemmar med JDBC funkar!</h1>

		<div th:each="currentCar  : ${@carHandlingService.getTopFiveCars()}">
			<img th:src="${currentCar.getCarImage()}" height="100px"
				width="200px" />
			<p th:text="${currentCar.getCarName()}" />
			<p th:text="${currentCar.getMember().getMemberName()}" />
		</div>
	</div>

 
	<div>
		<h1>få fram bilars medlemmar med JPA funkar!</h1>

		<div th:each="currentCar  : ${@carHandlingService.getAllCars()}">
			<img th:src="${currentCar.getCarImage()}" height="100px"
				width="200px" />
			<p th:text="${currentCar.getCarName()}" />
			<p th:text="${currentCar.getMember().getMemberName()}" />
		</div>
	</div>
	
</body>
</html>