/* GENERAL SETTINGS */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: whitesmoke;
	padding-top: 50px;
	color: #4a4a4a;
}

a {
	color: red;
	text-decoration: underline;
}

a:hover {
	color: #6fbc18;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img {
	border: 0;
}

h1 {
	color: red;
	font-size: 24px;
	font-weight: bold;
	padding: 0 0 20px 0;
}

.linespacing {
	line-height: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

/* SETTINGS SPECIFIC FOR CONTENT */
.container {
	width: 1280px;
	margin: 0 auto;
	background: url(gfx/wrapper-bg.jpg);
}

.contentContainer {
	width: 850px;
	height: auto;
	margin: 0 auto;
}

.fullWidthContent {
	background: #ffffff;
	padding: 20px;
	height: auto;
	width: 1214px;
	border-style: ridge;
	border-top: none;
	margin: 0px auto;
}

.mainHolder {
	width: 1280px;
	height: 100%;
	background: url(gfx/wrapper-bg.jpg);
}

.aboveFaceHolder {
	height: 100px;
	width: 100%;
}

.sectionTitleHolder {
	float: left;
	width: 200px;
	margin: 25px 0;
	height: 50px;
}

.carImage {
	float: left;
	background: #ffffff;
	height: auto;
	width: auto;
	margin: 10px;
	padding: 15px;
	border-style: ridge;
}

/* SETTINGS SPECIFIC FOR HEADER */
#header {
	width: 1280px;
	margin: 0 auto;
	background: url(gfx/wrapper-bg.jpg);
}

.menuContainer {
	background: #484848;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: 0px;
}

.menu {
	float: left;
	padding: 20px 20px 0 0;
	margin: 0 0 20px 0;
}

.menu ul {
	padding: 0px 0 0 0;
}

.menu li {
	list-style: none;
	display: inline-block;
	padding: 0 15px;
}

.menu li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	padding: 10px;
}

.menu li a:hover {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	background: red;
	padding: 10px;
}

.menu #active a {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	background: red;
	padding: 10px;
}

.logo {
	padding: 0px;
}

.icons {
	padding: 5px 5px 3px 5px;
	background: #FFFFFF;
	float: right;
	margin: 15px;
}

.icons li {
	display: inline;
	list-style: none;
}

/*  SETTINGS SPECIFIC FOR index.html */
.aboutContainer {
	float: left;
	background: #ffffff;
	padding: 20px;
	width: 850;
	height: 200px;
	border-style: ridge;
	margin: 5px 5px 0px 5px;
}

.aboutContainer a {
	color: black;
	font-size: 18px;
	text-decoration: underline;
}

.buttonHeader {
	background: #CC1818;
	border: 0;
	font-weight: bold;
	color: #F5F5F5;
	padding: 0;
	cursor: pointer;
	margin: 5px;
	font-size: 18px;
}

.buttonHeader:hover {
	background: #6fbc18;
}

.newsContainer {
	float: right;
	background: #ffffff;
	padding: 20px;
	width: 315px;
	height: auto;
	margin: 5px;
	border-style: ridge;
}

/*  SETTINGS SPECIFIC FOR index.html NEW CAR */
.newCarContainer {
	background: white;
	float: left;
	width: 850px;
	height: 270px;
	border-style: ridge;
	padding: 20px;
	margin: 5px;
}
.tablerowNewCar {
	display: table-row;
}

.tablerowNewCar p {
	display: table-cell;
	vertical-align: top;
	padding: 2px;
}

.tablerowNewCar p:first-child {
	text-align: right;
	font-weight: bold;
}

.newCarHeader {
	height: auto;
	width: 100%;
}

.newCarTitle {
	float: left;
	height: 30px;
	width: 200px;
}

.newCarTitle h3 {
	color: red;
	padding-left: 10px;
	padding-top: 10px;
}

.newCarName {
	padding-left: 415px;
	height: 30px;
	width: 200px;
	font-size: 24px;
	font-weight: bold;
}

.newCarContent {
	height: 220px;
	width: auto;
}

.newCarDescription {
	height: 160px;
	width: 300px;
	padding: 0px;
	padding-left: 420px;
	margin-top: 5px;
	line-height: 30px;
}

.newCarUploader {
	height: 30px;
	width: 83%;
	text-align: right;
}

/* SETTINGS SPECIFIC FOR index.html GALLERY */
#gallery {
	background: url(gfx/headerBackground.jpg) repeat-x;
	width: 1280px;
	height: auto;
	margin: 0px;
}

.galleryPic {
	float: left;
	margin: 20px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	width: 640px;
	height: 360px;
}

.galleryDesc {
    padding: 20px 10px 0px 800px;
    width: 300px;
}

.galleryText {
	font-size: 24px;
	color: black;
}

.galleryHeaderText {
	font-size: 48px;
	color: white;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 640px;
      height: 360px;
      margin: auto;
  }
.carousel {
    position: relative
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}
.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    line-height: 1
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px
    }
    .carousel-inner>.item.active.right,
    .carousel-inner>.item.next {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    .carousel-inner>.item.active.left,
    .carousel-inner>.item.prev {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    .carousel-inner>.item.active,
    .carousel-inner>.item.next.left,
    .carousel-inner>.item.prev.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block
}
.carousel-inner>.active {
    left: 0
}
.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%
}
.carousel-inner>.next {
    left: 100%
}
.carousel-inner>.prev {
    left: -100%
}
.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    left: 0
}
.carousel-inner>.active.left {
    left: -100%
}
.carousel-inner>.active.right {
    left: 100%
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x
}
.carousel-control:focus,
.carousel-control:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 50%;
    margin-right: -10px
}
.carousel-control .icon-next,
.carousel-control .icon-prev {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1
}
.carousel-control .icon-prev:before {
    content: '\2039'
}
.carousel-control .icon-next:before {
    content: '\203a'
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}
.carousel-caption .btn {
    text-shadow: none
}
@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -15px
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -15px
    }
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px
    }
    .carousel-indicators {
        bottom: 20px
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


/* SETTINGS SPECIFIC FOR carlist.html */
.filterContainer {
	background: #484848;
}

.filterTitle {
	height: 40px;
	padding-top: 20px;
	padding-left: 10px;
	width: 100%;
	color: white;
}

.filterOptionslist {
	background: #484848;
	height: auto;
	width: 100%;
}

.filterOption {
	background: rgb(255, 0, 0);
	float: left;
	height: 20px;
	width: 100px;
	margin: 15px;
}

.filterOption p {
	text-align: center;
	font-weight: bold;
	color: white;
}

.carImagelist {
	height: auto;
	width: auto;
	margin: 10px auto 0px auto;
}

/* SETTINGS SPECIFIC FOR login.html */
.loginHolder {
	background: white;
	width: 100% height: 100px;
}

/* SETTINGS SPECIFIC FOR contact.html */
.tablerow {
	display: table-row;
}

.tablerow p {
	display: table-cell;
	vertical-align: top;
	padding: 8px;
}

.tablerow p:first-child {
	text-align: right;
	font-weight: bold;
}
.submit {
	display: block;
	background: #dae2de;
	color: black;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid black;
	padding: 5px 20px;
	-moz-border-radius: 2px;
	border-radius: 3px;
	cursor: pointer;
}

.submit:hover {
	background: #aeb4b1;
}

/* SETTINGS SPECIFIC FOR videos.html */
.videoIntroTitle {
	background: white;
	height: 40px;
	padding-top: 20px;
	width: 100%;
}

.videoIntroContent {
	background: white;
	height: auto;
	width: 810px;
	padding: 0px 40px 40px 0px;
}

.carVideolist {
	height: auto;
	width: auto;
	margin: 10px auto -10px auto;
}

.carVideoHolder {
	background: #FFFFFF;
	height: 500px;
	width: 1254px;
	padding: 1px 0px;
	margin: 10px auto;
	border-style: ridge;
}

.carVideo {
	margin: 30px auto;
	background: DarkSeaGreen;
	width: 560px;
	height: 315px;
	border-style: double;
	border-width: 3px;
}

.carVideoDescription {
	background: #FFFFFF;
	width: 590px;
	height: 80px;
	margin-left: 320px;
	text-align: center;
	padding: 10px 10px;
	color: black;
	font-weight: bold;
}

/* SETTINGS SPECIFIC FOR carfactory.html */
.sessionLoggedIn {
	float: right;
	height: 20px;
	width: auto;
}

.addCarContainer {
	
}

.addCarDescription {
	height: auto;
	width: 100%;
}

.addCarDescriptionHeader {
	float: left;
	height: 30px;
	width: auto;
}

.addCarDescriptionContent {
	padding-top: 40px;
	height: 40px;
	width: 100%;
}

.addCarForm {
	height: auto;
	width: 100%;
	padding-bottom: 10px;
}

/* SETTINGS SPECIFIK FOR carprofile.html */
.imageContainer {
	width: 640px;
	height: 390px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.aboveImage {
	
}

.imgTitle, .carsLink {
	width: 150px;
	height: 50px;
}

.carsLink {
	text-align: center;
}

.carProfileImage {
	width: 640px;
	height: 360px;
	background: purple;
	margin: 0px;
	border-style: ridge;
}

.carTitle {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}

.carName {
	font-size: 50px;
}

.carScore {
	font-size: 20px;
}

.carInfo {
	width: 100%;
	height: 150px;
	margin: 0 auto;
	font-size: 20px;
}

.carInfoPanel1 {
	font-size: 24px;
	margin: 30px 0px 30px 230px;
}

.carInfoPanel2 {
	font-size: 24px;
	margin: 30px 230px 30px 0px;
}

.carInfoPanel1 ul li {
	height: 45px;
}

.carInfoPanel2 ul li {
	height: 45px;
}

/* SETTINGS SPECIFIC FOR memberprofile.html */
.memberFaceHolder {
	background: white;
}

.memberAvatarImage {
	float: left;
	height: 170px;
	width: 162px;
	border-style: double;
}

.memberProfileInfo {
	background: white;
	width: 500px;
	height: 154px;
	padding: 0px 0px;
	padding-top: 20px;
	padding-left: 250px;
}

.memberProfileInfo ul li {
	height: 45px;
}

.memberAbout {
	background: white;
	height: auto;
	margin: 30px 80px;
	font-weight: bold;
}

.memberCars {
	
}

.memberCarsHeader {
	background: #484848;
	height: 40px;
	padding: 0px 25px;
	padding-top: 20px;
	width: 1204px;
	margin: 10px;
	border-style: ridge;
	color: red;
}

.memberCarsImagesList {
	
}

/* SETTINGS SPECIFIC FOR FOOTER */
#footer {
	background: #484848;
	padding: 50px 0;
	height: 100px;
	width: 1280px;
	margin: 0 auto;
}

#footer table {
	margin: 0 auto;
}

#footer table tr td {
	color: white;
}

#footer td {
	width: 300;
	padding: 10px;
	font-size: 12;
}

#footer h3 {
	color: red;
}

#footer p {
	text-align: center;
}

#footer a {
	color: red;
	text-decoration: none;
}

#footer a:hover {
	color: #6fbc18;
	text-decoration: none;
}