<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cool Cars Community</title>
<link href="../style/styles.css" rel="stylesheet" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("../header"); 
  $("#footer").load("../footer"); 
});
</script>

</head>
<body>

	<div id="header"></div>

	<div class="container">

		<div class="fullWidthContent">

			<div class="contentContainer">

				<div class="imageContainer">

					<div class="aboveImage">
						<div class="imgTitle left">
							<h1>Car profile</h1>
						</div>
						<div class="carsLink right">
							<a href="/public/carlist">More cars</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="carProfileImage">
						<img th:src="'../'+${car.getCarImage()}" height="360" width="640" />
					</div>
				</div>

				<div class="carTitle">
					<div class="carName" th:text="${car.getCarName()}">...</div>
					<div>
						<div class="carScore" th:text="'Score: '+${car.getCarRating()}">
						</div>
						<div>
							<a href="">vote!</a>
						</div>
					</div>
				</div>
				<div class="carInfo">
					<div class="carInfoPanel1 left">
						<ul>
							<li><span class="label">Brand: </span> <span class="value"
								th:text="${car.getCarBrand()}"></span></li>
							<li><span class="label">Color: </span> <span class="value"
								th:text="${car.getCarColor()}"></span></li>
						</ul>
					</div>
					<div class="carInfoPanel2 right">
						<ul>
							<li><span class="label">Type: </span> <span class="value"
								th:text="${car.getCarType()}"></span></li>
							<li><span class="label">Owner: </span> <span class="value"
								th:text="${car.getMember().getMemberName()}"></span></li>
						</ul>
					</div>
				</div>
				<!-- end carInfo -->
			</div>
			<!-- end content container -->
		</div>
		<!-- fullWidthContent -->

		<div class="clearfix"></div>

	</div>
	<!-- end of container-->

	<div class="clearfix"></div>
	<div id="footer"></div>
</body>
</html>
